.App {
  text-align: center;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar{
  width: 100%;
  height: 6rem;
  background-color: #ffffff;
}

.navbarLinks{
  display: inline-block;
  margin: 1.5rem 0 0 40%;
}

.prodNavbarBtn, .aboutNavbarBtn, .reviewsNavbarBtn, .contactNavbarBtn{
  color: #606060;
  text-decoration: none;
  margin: 0 2rem 0 2rem;
}

.orderNowBtn{
  width: 7rem;
  height: 3rem;
  color: #ffffff;
  border: none;
  border-radius: 1rem;
  background-color: #ff4d4d;
  margin: 0 0 0 1rem;
}

.orderNowBtn:hover{
  cursor: pointer;
}

.orderNowBtn:active{
  background-color: #ff1a1a;
}

#heroSection{
  display: flex;
  width: 100%;
  height: 40rem;
}

.heroVideo{
  margin: 7rem 0 0 10rem;
}

.vidBorder{
  width: 30rem;
  height: 30rem;
  overflow: hidden;
  border-radius: 100%;
}

.heroText{
  position: relative;
  width: 50%;
  height: 100%;
}

.heroTextContent{
  position: absolute;
  left: 25%;
  top: 25%;
  width: 35rem;
  text-align: left;
}

.heroSubText1{
  line-height: 3rem;
  font-family: 'Grape Nuts', cursive;
  margin: 0;
  font-size: 3.5rem;
}

.heroSubText2{
  color: #606060;
  width: 25rem;
}

.scrollDownText{
  margin: 15rem 0 0 0;
  font-size: 0.8rem;
  color: #909090;
}

#productsSection{
  position: relative;
  display: flex;
  width: 100%;
  height: 60rem;
  margin: 0 0 10rem 0;
}

.productsText{
  position: relative;
  width: 50%;
  height: 100%;
}

.prodTextContent{
  position: absolute;
  left: 25%;
  top: 25%;
  width: 35rem;
  text-align: left;
}

.prodSubText1{
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  color: #5f5f5f;
}

.prodSubText2{
  font-family: 'Grape Nuts', cursive;
  font-size: 3.5rem;
  line-height: 3rem;
  margin: 10rem 0 0 0;
}

.productDisplay{
  position: relative;
  width: 50%;
  height: 100%;
}

.prodListContainer{
  position: absolute;
  left: 2rem;
  top: 30%;
  width: 90%;
  height: 33rem;
}

#itemBox{
  width: 12rem;
  height: 14rem;
  display: inline-block;
  border-radius: 1rem;
  margin: 1rem;
  border: solid #e0dfdf;
  border-width: 1px;
}

.itemImgContainer{
  border-radius: 50rem;
}

.itemImg{
  width: 100%;
  border-radius: 1rem 1rem 0 0 ;
  object-fit: cover;
}

.itemName{
  margin: 2rem 0 0 0;
}

.viewAllBtn{
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  color: #ffffff;
  background-color: #ff4d4d;
}

.viewAllBtn:hover{
  cursor: pointer;
}

.viewAllBtn:active{
  background-color: #ff1a1a;
}

#aboutSection{
  position: relative;
}

.bg{
  opacity: 0.3;
  width: 100%;
  height: 60rem;
  object-fit: contain;
}

.homeAboutHeading{
  position: absolute;
  top: 22rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
  font-size: 1.5rem;
  color: #5f5f5f;
}

.homeAboutText{
  position: absolute;
  top: 26rem;
  left: 50%;
  transform: translateX(-50%);
  width: 40rem;
}
